html,
body {
  margin: 0px;
  height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#score-panel {
    display: flex;
    flex-direction: column;
}

#score-text {
    text-align: center;
    padding: 0.5rem;
}

#score {
    display: flex;
    justify-content: space-evenly;
    width: 20rem;
    height: 10rem;
    border: 0.2rem solid black;
    background-color: white;
}

#player-result,
#pc-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#player-result-box,
#pc-result-box {
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
    background-color: white;
    font-size: 4rem;
    text-align: center;
}

#results-panel {
    display: flex;
    gap: 4rem;
}

#result-container {
    display: flex;
    gap: 2rem;
}

#player-choice-text,
#pc-choice-text {
    text-align: center;
    padding: 0.5rem;
}

.text {
    font-size: 2rem;
}

img {
    max-width: 100%;
    height: auto;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: black;
    width: 11rem;
    height: 11rem;
}

#buttons {
    display: flex;
    gap: 1rem;
}

button {
    font-size: 2rem;
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    padding: 1rem;
    transition-duration: 50ms;
}
  
button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}
  
button:active {
    background-color: #777b77;
}

